.wrapper {
  background-color: #3072AB;
  border-radius: 50%;
  color: #fff;
  height: 2.5em;
  width: 2.5em;
  border: 1px solid transparent;
  transform: translate(-50%, -50%);

  &:hover {
    background-color: #488ac7;
  }

  .text {
    text-align: center;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }
}